.paginationContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding-bottom: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationContent {
  display: flex;
  align-items: center;

  p {
    font: 400 12px Roboto;
    letter-spacing: .2rem;
  }
}

.buttonArrow {
  border: none;

}