.loaderContainer {
  width: 100vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderText {
  margin-top: 5rem;
  text-transform: uppercase;
  letter-spacing: .7rem;
  font: 300 1.4rem Roboto;
}